/*#67b2d6*/

#name {
	color: #006680;
	padding-top: 80px;
	font-family: 'Abel';
	font-weight: bolder;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.jumbotron {
	background: url("Revolutionedit.jpg") center center;
	height: 500px;
	text-align: center;
	background-size: cover;
	background-repeat: no-repeat;
	margin-top: -60px;
	font-family: 'Abel';
	font-weight: bold;

}


.navbar {
	letter-spacing: .5px;
	text-transform: uppercase;
	opacity: .9;
}


.navbar-inverse {
    background: #006680;
}


.navbar-inverse .navbar-brand {
	padding: 20px;
	font-size: 30px;
	padding-top: 23px;
	color: lightgray;
    letter-spacing: .5px;
    position: fixed;
}


.navbar-inverse .navbar-nav a {
    background-color: black;
    margin: 3px 3px 3px 3px;
}
.navbar-inverse .navbar-nav a:hover {
    color: #006680 !important;
    margin: 3px 3px 3px 3px;
}
.navbar-inverse .navbar-nav a.active {
    background: #006680;
    color: white;
    border-radius: 2px 2px 2px 2px;
}

.navbar-inverse .navbar-nav a.active:hover{
	background-color: #006680;
	color: gray !important;
}


.navbar-right {
	background-color: black;
	padding: 5px 5px;
	border-radius: 3px 3px 3px 3px;
}


a {
	color: #007a99;
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover, a:focus {
    color: #6dc8f4;
    text-decoration: none;
    outline: 0;
}


a:before, a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}


body {
	margin-top: 60px;
	font-family: 'Raleway';
	background-color: rgb(250, 250, 250);
}

#Bio {
	font-size: 18px;
	padding-top: 30px;
	text-align: center;
}

#myface {
	text-align: center;
}



footer {
	border-top: 1px solid #FFFFFF;
	background-color: #006680;
	padding: 10px;
	font-size: 15px;
	text-align: center;
}


#updated {
	background-color: black;
	color: lightgray;
	font-size: 10px;
	padding: 50px;
	text-align: center;
}


#activities {
	font-size: 17px;
	font-weight: bold;
}

#lang {
	margin-left: -40px;
}

#northeastern {
	font-size: 17px;
}

#exp {
	font-size: 18px;
	font-weight: bold;
}


.col-sm-4 {
	background-color: gray;
	padding: 5px;
	border-radius: 5px 5px 5px 5px;
	margin: 7px 7px;
}

#cover {
	margin-left: 100px;
}

#projects {
	font-size: 20px;
	color: #38505c;
}
