/*#67b2d6*/

#name {
	color: rgb(0, 153, 153);
	padding-top: 80px;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.jumbotron {
	background: url(Photos/Banner2edit.jpg) center center;
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	font-family: 'Raleway', sans-serif;
}

.Hi {
	position: relative;
	width: 100%;
	text-align: center;
	padding-left: 20%;
	top: 30%;
	opacity: .8;
	font-family: 'Raleway', sans-serif;
	letter-spacing: 1px;
}

#bio {
	padding: 8vw;
	text-align: center;
	font-size: 2rem;
}

.banner {
	background-color: rgb(127, 127, 153);
	padding-bottom: 10%;
	font-family: 'Lato', sans-serif;
	color: rgb(250,250,250);
	font-weight: lighter;
}


.navbar {
	letter-spacing: .5px;
	text-transform: uppercase;
	opacity: .9;
}


.navbar-inverse {
    /*background: #02b199;*/
}


.navbar-right {
	padding: 2px 2px;
	border-radius: 3px 3px 3px 3px;
}


.navbar-inverse .navbar-brand {
	padding: 20px;
	font-size: 30px;
	color: lightgray;
    letter-spacing: .5px;
    position: fixed;
}

@media (max-width: 915px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
}

@media screen and (max-width: 615px) {
    .navbar-inverse .navbar-brand {
        font-size: 20px;
    }
}


.navbar-inverse .navbar-nav a {
    margin: 3px 3px 3px 3px;
}
.navbar-inverse .navbar-nav a:hover {
    color: white;
    margin: 3px 3px 3px 3px;
}
.navbar-inverse .navbar-nav a.active {
    background: rgb(127, 127, 153);
    color: white;
    border-radius: 2px 2px 2px 2px;
}

.navbar-inverse .navbar-nav a.active:hover {
	background-color: rgb(127, 127, 153);
}



a {
	color: rgb(128, 191, 255);
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover, a:focus {
    color: rgb(102, 179, 255);
    text-decoration: none;
    outline: 0;
}


a:before, a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}


body {
	font-family: 'Raleway', sans-serif;
	background-color: rgb(250, 250, 250);
	background-image: url(Photos/circuittexture.jpg);
}

.dark-background {
	background-image: url(Photos/circuittexture.png);
}

hr { 
    display: block;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 2em;
    margin-right: 2em;
    border-style: inset;
    border-width: 2px;
} 

p {
	color: black;
	text-align: justify;
}

h1 {
	text-align: center;
}

h2 {
	font-size: 20px;
	font-weight: bold;
}

span {
	color: black;
}

.parallax-art {
	background-image: url(Photos/6edit.jpg);
	min-height: 100vh;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	opacity: .6;
}


.parallax-education1 {
	background-image: url(Photos/neupic.jpg);
	min-height: 100vh;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	opacity: .7;
}

.parallax-education2 {
	background-image: url(Photos/yunnandaxue.jpg);
	min-height: 100vh;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	opacity: .7;
}

.parallax-education3 {
	background-image: url(Photos/westminster.jpg);
	min-height: 100vh;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	opacity: .7;
}

.parallax-experience1 {
	background-image: url(Photos/STARSparticipation.jpg);
	min-height: 100vh;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	opacity: .7;
}

.parallax-experience2 {
	background-image: url(Photos/barnes2.jpg);
	min-height: 100vh;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	opacity: .7;
}

.parallax-experience3 {
	background-image: url(Photos/The%20Broken%20Cross%202.0%20Cover.jpg);
	min-height: 100vh;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	opacity: .6;
}

.parallax-experience4 {
	background-image: url(Photos/DLG.jpg);
	min-height: 100vh;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	opacity: .7;
}

.parallax-projects {
	background-image: url(Photos/circuittextureblue.jpg);
	min-height: 100vh;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	opacity: .7;
}

.caption {
	/*This makes the captions all be together at the top*/
	position: absolute;
	text-align: center;
	width: 100%;
	margin-top: 20%;
}

.caption2 {
	/*This makes the captions all be together at the top*/
	position: absolute;
	text-align: center;
	width: 100%;
	margin-top: 10%;
}

.border {
	background-color: black;
	color: white;
	opacity: .8;
	padding: 20px;
	font-size: 4vw;
	font-family: 'Raleway', sans-serif;
}

@media screen and (max-width: 600px) {
	.caption {
		margin-top: 50%;
	}

    .border {
        font-size: 20px;
    }

    .parallax-education1, .parallax-education2, .parallax-education3, 
    .parallax-experience1, .parallax-experience2, .parallax-experience3, 
    .parallax-experience4, .parallax-projects, .parallax-art,
    .parallax-projects, .parallax {
    	background-attachment: scroll;
    }
}

#prof-border {
	color: white;
	opacity: .8;
	font-size: 2vw;
	font-family: 'Raleway', sans-serif;
}


.body-container {
	padding: 80px;
	font-size: 2rem;
}


footer {
	border-top: 1px solid #FFFFFF;
	background-color: rgb(127, 127, 153);
	padding: 10px;
	font-size: 15px;
	text-align: center;
}

.contact {
	text-align: center;
}




.updated {
	background-color: rgb(26, 26, 26);
	color: rgb(127, 127, 127) !important;
	font-size: 10px;
	padding: 50px;
	margin-bottom: -10px;
	text-align: center;
}

#cover {
	margin-left: 100px;
}

#projects {
	padding: 20px;
}

.projects {
	padding-top: 1%;
	padding-bottom: 1%;
	padding-left: 15%;
	text-transform: uppercase;
    letter-spacing: .6px;
}

.btn {
	background-color: transparent;
	border: 3px solid rgb(127, 127, 153);
	color: rgb(127, 127, 153);
	font-weight: bold;
	border-radius: 0px;
	font-size: 16px;
}

.btn:hover{
	background-color: rgb(127, 127, 153);
	border: 3px solid rgb(127, 127, 153);
	color: white;
	font-weight: bold;
}

